<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph Drawer</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
    <div class="container">
        <!-- Upload File -->
        <form method="POST" enctype="multipart/form-data">
            <div class="row mb-3">
                <label for="file" class="col-sm-2 col-form-label">Upload CSV File</label>
                <input type="file" class="form-control" name="file" id="file" accept=".csv" required>
            </div>
        <button type="submit" class="btn btn-primary" name="post_type" value="Upload">Upload</button>
        </form>

        <!-- Set Graph Parameters -->
        {% if data %}
            <form method="POST" enctype="multipart/form-data">
                <div class="row mb-3">
                    <label for="graph_type" class="col-sm-2 col-form-label">Graph Type</label>
                    <select name="graph_type" id="graph_type" class="form-select">
                        <option value="line">Line Graph</option>
                        <option value="bar">Bar Graph</option>
                        <option value="scatter">Scatter Plot</option>
                    </select>
                </div>

                <div class="row mb-3">
                    <label for="x_axis" class="col-sm-2 col-form-label">X-axis</label>
                    <fieldset class="row mb-3">
                        <div class="col-sm-10">
                            {% for key in data.keys() %}
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="x_axis" id="radio_{{ key }}" value="{{ key }}" checked>
                                    <label class="form-check-label" for="radio_{{ key }}">
                                        {{ key }}
                                    </label>
                                </div>
                            {% endfor %}
                            <!--
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                <label class="form-check-label" for="gridRadios1">
                                    First radio
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                <label class="form-check-label" for="gridRadios2">
                                    Second radio
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                                <label class="form-check-label" for="gridRadios3">
                                    Third disabled radio
                                </label>
                            </div>
                            -->
                        </div>
                    </fieldset>
                </div>

                <div class="row mb-3">
                    <label for="y_axis" class="col-sm-2 col-form-label">Y-axis</label>
                        <div class="col-sm-10">
                        {% for key in data.keys() %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="y_axis" id="check_{{ key }}" value="{{ key }}">
                                <label class="form-check-label" for="check_{{ key }}">
                                    {{ key }}
                                </label>
                            </div>
                        {% endfor %}
                        </div>
                </div>                

                <button type="submit" class="btn btn-primary" name="post_type" value="Apply">Apply</button>
            </form>

            <!-- Draw Graph -->
            {% if params %}
                <canvas id="chart"></canvas>
                <script type=text/javascript>
                    var ctx = document.getElementById('chart').getContext('2d');
                    var chart = new Chart(ctx, {
                        type: '{{ params.graph_type }}',
                        data: {
                            labels: {{ params.x_axis }},
                            datasets: [
                            {% for key, value in params.y_axis.items() %}
                            {
                                label: '{{ key }}',
                                data: {{ value }},
                                fill: false,
                            },
                            {% endfor %}
                            ]
                        }
                    });
                </script>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>
